body, html {
    height: 100%;
    
}
h1{
    font-size: 50px;
}
.button{ text-decoration: none;
    background-image: linear-gradient(tomato);
    background-color: rgb(240, 76, 0);
    padding: 15px 30px;
    color: white;
    font: 900;
    font-size: 18px;
    border-radius: 10px ;
    text-decoration: none;
    background-image: linear-gradient(rgb(235, 74, 0));
    
}



.first-image {

  background-image: url("donation9.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.first-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
}

